
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Cobrademo.TaxYear.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SereneASP.Cobrademo.TaxYearGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>